# Xcelium
xcelium.d/
*.shm/
*.trn
*.dsn
*.bak
*.log
*.key
xrun.history

# Vivado
*.jou
*.str
*.xpr
*.bit
*.ltx
.Xil/
vivado_*.backup*/
impl_*/
synth_*/
*.runs/
*.cache/
*.hw/
*.ip_user_files/

# General
*.swp
*.swo
*~
.DS_Store
